* {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 16px;
    color: #473636;
  }
  
  body {
    font-family: 'Bebas Neue', sans-serif;
    background-color: whitesmoke;

    /*border: 1px solid orange;*/
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  /* HEADER */
  
  .header-n-logo {
    flex-direction: row;
    /*border: 2px solid green;*/
  }
  
  header {
    background-color: rosybrown;
    width: 100%;
  }
  
  header h1 {
    padding-top: 1rem;
    font-size: 3.5rem;

  }
  
  .logo {
    width: 3rem;
    height: 3rem;
    padding: 1rem;
  }
  
  .navbar-container {
    flex-direction: row;
    justify-content: space-around;
    background-color: #997474;
    padding: 1rem 0;
  }
  
  nav a { 
    /*border: 2px solid hotpink;*/
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0 1rem;
  }
  
  
  nav a:hover {
    color: #473636;
    /* transition */
    transition: color 0.75s ease-out 100ms;
  }

  /* MOBILE */
  @media only screen and (max-width: 480px) {
    .logo {
        display: none;
    }
    .header-n-logo {
        justify-content: center;
    }
    nav a {
        font-size: 1rem;
    }
    .navbar-container {
      display: none;
    }
  }


  /* MISSION STATEMENT */
  
  .mission-container {
    color: white;
    text-align: center;

    /*border: 5px solid hotpink;*/
    margin: auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
  }
  
  .mission-statement {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://images.pexels.com/photos/4041392/pexels-photo-4041392.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    width: 100%;
    height: 50rem;
    /*border: 5px solid blue;*/
  }

  .statement-area {
    /*border: 1px solid green;*/

    /*background-color: gray;*/
    font-size: 2rem;
    height: 25%;
    padding: 2rem 0;
    margin: 3rem 0;
  }

  /* Small screen */
  @media only screen and (max-width: 480px) {
    .mission-statement {
        height: 25rem;
    }
    .statement-area {
        font-size: 1.5rem;
        margin: 2rem;
    }
    .statement-area p {
      font-size: 1rem;
    }
  }
  
  /* PRODUCTS */
  
  /*
  .product-container {
    border: 3px solid orange;
  }
  */

  /*
  #products {
    margin-top: 3rem;
  }*/

  .shop-btn {
    padding: 1rem 4rem;
    background-color: #8FBDBD;
    color: white;
    border-radius: 1rem;
    width: 75%; /* dont like the hover effect */
    border: none;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
  }

  .shop-btn:hover {
    font-size: 1.6rem;

    transition: font-size 400ms;
  }

  #products h2 {
    text-align: center;
    margin-top: 3rem;
    font-size: 3rem;
  }
  
  .product-container {
    /*border: 2px solid hotpink;*/
    border-top: 1px solid rosybrown;
    padding: 1rem 2rem ;
    /*margin: 2rem 0;*/
    flex-grow: 1;
  }

  .product-container h2  {
    color: #473636;
    text-align: center;
    padding: 1rem 0;
    font-size: 3rem;
  }
  
  
  .cool-products {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    /*border: 2px solid green;*/
  }
  
  .product-card img {
    margin: 1rem 0;
    height: 75%;
    width: 75%;
  }
  
  .product-card:hover {
    box-shadow: 10px 10px;

    transition: box-shadow 400ms ease-out ;
  }
  
  .product-card {
    margin: 3rem;
    padding: 4rem;
    background-color: rosybrown;
    text-align: center;
    font-size: 2rem;
    align-items: center;
    /*
    height: 50%;
    width: 50%;

    border: 2px solid green;*/
  }


/* SMALL SCREENS*/
  @media only screen and (max-width: 480px) {
    .product-card {
      width: 100%;
      margin: 1.5rem;
      padding: 2rem;
      box-shadow: 10px 10px;
    }
    .product-card h3 {
        font-size: 2rem;
      }
    .product-card img{
      width: 100%;
      height: 100%;
    }
    .product-container {
        margin: 1rem 0;
        padding: 0 2rem;
    }
    #products h2 {
        margin-top: 1.5rem;
        font-size: 2rem;
      }
      .cool-products {
        display: flex;
      }
      .shop-btn {
        text-align: center;
        padding: 1rem;
      }
  }
  
  /* MED SCREEN */
  @media only screen and (max-width: 1024px) {
    .shop-btn {
        padding: 1rem;
        width: 100% ;
    }
    .product-card {
      font-size: 2rem;
      margin: 1rem;
    }
    .product-card img{
      width: 100%;
      height: 100%;
    }
  }
  
  /* EMPLOYEES */
  
  #employees {
    /*border: 5px solid hotpink;*/
    margin: 4rem 0;
    text-align: center;
    font-size: 2rem;
  }

  .employee-container {
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
    /*border: 3px solid red;*/
  }
  
  .employee-card {
    width: 20%;
    height: 20%;
    padding: 1rem;
    margin: 0 5rem;
    font-size: 1.5rem;
    /*border: 3px solid green;*/
  }

  .employee-card h3 {
    margin-top: 1rem;
    color: #EBB2B2;
  }
  
  /* small screen */
  @media only screen and (max-width: 480px) {
    #employees {
        margin: 1rem 0;
    }
    .employee-container {
    flex-flow: row wrap;
    margin: 0;
    
    /*border: 3px solid green;*/
    } 
    .employee-card {
        width: 30%;
        height: 30%;
        margin: 0;

        /*border: 3px solid blue;*/
    }
  }

  /* MEDIUM SCREEN */
  @media only screen and (max-width: 1024px) {
    .employee-container {
        flex-flow: row wrap;
    }
  }


  /* BIGG SCREEN 
  @media only screen and (min-width: 1024px) {
    .employee-container {
        margin: auto;
    }
    .employee-card {
        width: 30%;
        height: 30%;
        margin: 1rem;
      }
  }*/
  /* CONTACT */

  .contact-area {
    /*border: 2px solid hotpink;*/
    background-color: #EBB2B2;
    color: #473636;
    margin-top: 1rem;
    width: 100%;
    padding: 2rem 0;
    font-size: 2rem;
  }
  
  .contact-us {
    text-align: center;
  }

  @media only screen and (max-width: 480px) {
    /*aaaa*/
  }
  
  /* FOOTER */
  footer {
    margin: 0;
    background-color: rosybrown;
    color: white;
    padding: 1rem 0;
    padding-left: 1rem;

    bottom: 0;

  }
  
  /* MOBILE TIME */
  @media only screen and (max-width: 480px) {
    footer {
        width: auto;
    }
  }